.container {
	height: 3rem;
	padding: 0 0.5rem;
	color: var(--font-light-color);
	background-color: var(--main-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

.desktop {
	display: none;
}

.goBackButton {
	width: 2rem;
	height: 2rem;
	padding: 0.1rem;
	border: 1px solid var(--font-light-color);
	border-radius: 5px;
	position: absolute;
	left: 0.5rem;
	cursor: pointer;
}

.img {
	width: auto;
	height: 2.7rem;
	margin: 0 0.5rem;
	cursor: pointer;
}

.title {
	font-size: 2rem;
	font-weight: 400;
	cursor: pointer;
}

.nav {
	width: 40%;
	max-width: 350px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	margin: 0 2% 0 auto;
}

.link {
	font-size: 1.1rem;
	text-transform: capitalize;
	border: 1px solid var(--font-light-color);
	border-radius: 5px;
	padding: 0.5rem;
	margin: 0 0.5rem;
	box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 721px) {
	.container {
		justify-content: flex-start;
	}
	.goBackButton {
		position: initial;
	}
	.desktop {
		display: initial;
	}
}
