.messageBar{
	width: 80%;
	height: 3rem;
	background-color: var(--main-color);
	border-radius:10px;
	margin: 1rem auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.message{
	color: white;
	font-size: 1.3rem;
}

@media screen and (min-width: 720px) {
	.messageBar{
		width: 50%;
		height: 5rem;
	}

	.message{
		font-size: 2.6rem;
	}
}