.carousel {
	touch-action: pan-y;
	position: relative;
	width: 100%;
}

.carouselInner {
	white-space: nowrap; /* keeps items in one line */
	transition: transform 0.3s;
}

.carouselItem {
	display: inline-flex; /* also keeps items in one line */
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-evenly;
	margin: 0 10% 0 0%;
	width: 60%;
	height: 16rem;
	min-width: 60%;
}

.card {
	background-color: var(--main-color);
	color: #fff;
	border-radius: 10px;
}

.noCarousel {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-evenly;
	margin: auto;
	height: max-content;
	padding-bottom: 1rem;
	width: 70%;
}

.carouselItem:first-child {
	margin: 0 10% 0 20%;
}

.itemName {
	text-align: center;
	margin: 0;
}

.itemImg {
	width: 10rem;
	aspect-ratio: 1/1;
	object-fit: cover;
	border-radius: 50%;
}

.noDescription {
	width: 180px;
}

.itemDescriptionCtn {
	display: flex;
	flex-flow: column nowrap;
	width: 80%;
	height: 35%;
	white-space: normal;
	font-size: 0.9rem;
}

.descriptionTitle {
	font-weight: bolder;
}

.link {
	text-decoration: underline;
	margin-top: 1.5rem;
}

.itemDescription {
	margin-top: 5%;
}

.carouselArrowsContainer {
	display: none;
}

@media screen and (min-height: 700px) {
	.carouselItem {
		height: 20rem;
	}

	.itemImg {
		width: 50%;
	}

	.noDescription {
		width: 250px;
	}
}

@media screen and (min-width: 720px) {
	.carouselItem {
		height: max-content;
		width: 20%;
		padding: 2.5rem 0;
		min-width: 20%;
		min-height: 300px;
	}

	.carouselItem:first-child {
		margin: 0 10% 0 40%;
	}

	.noCarousel {
		width: 30%;
		padding: 1rem;
	}

	.carouselArrowsContainer {
		display: flex;
		width: 30%;
		left: 35%;
		top: 30%;
		justify-content: space-between;
		padding: 1rem 0;
		position: absolute;
	}

	.carouselArrow {
		width: 3rem;
		cursor: pointer;
		border-radius: 10%;
		background-color: var(--main-color);
	}
}
