.carousel{
	overflow: hidden;
	touch-action: pan-y;
}

.carouselInner{
	white-space: nowrap; /* keeps items in one line */
	transition: transform 0.3s;
}

.carouselItem{
	display: inline-flex; /* also keeps items in one line */
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-evenly;
	margin: 0 10% 0 0%;
	height: 20rem;
}

.card{
	background-color: var(--main-color);
	color: #fff;
	border-radius: 10px;
}

.noCarousel{
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-evenly;
	margin: auto;
	height: max-content;
	padding-bottom: 1rem;
	width: 70%;
}


.carouselItem:first-child{
	margin: 0 10% 0 20%;
}

.itemName{
	text-align: center;
}

.itemImg{
	width: 50%;
	max-width: 150px;
}

.itemDescriptionCtn{
	display: flex;
	flex-flow: column nowrap;
	width: 80%;
	height: 35%;
	white-space: normal;
	font-size: .9rem;
	padding-top: 5%;
}

.descriptionTitle{
	font-weight: bolder;
}

.link{
	text-decoration: underline;
	margin-top: 1.5rem;
}

.itemDescription{
	margin-top: 5%;
}
