.buttonContainer{
	display: flex;
	width: max-content;
	margin: 1rem auto 0 auto;
	flex-flow: column nowrap;
	align-items: center;
}

.buttonImage{
	width: 4rem;
	height: auto;
	filter: drop-shadow( 5px 5px 3px rgba(0, 0, 0, .7));
	cursor: pointer;
}

.buttonContainer:active .buttonImage{
	transform: scale(.9);
	filter: drop-shadow( 1px 1px 1px rgba(0, 0, 0, .7));
}

.buttonText{
	margin-top: .7rem;
	font-weight: bold;
	color: #303030;
}

@media screen and (min-height: 700px) {
	.buttonContainer{
		margin: 3rem auto 0 auto;
	}

	.buttonImage{
		width: 5rem;
	}
}

@media screen and (min-width: 720px) {
	.buttonContainer{
		margin: 1rem auto 0 auto;
	}
}