html,
body {
	padding: 0;
	margin: 0;
	font-family: Roboto, Helvetica, Arial;
	--main-color: #f44336;
	--font-light-color: white;
	--font-dark-color: black;
}

#__next {
	height: 100vh;
	overflow: hidden auto;
}

button {
	cursor: pointer;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

main {
	height: calc(100vh - 3rem);
}

main:not(:last-child) {
	/* When we have a tab navigator */
	height: calc(100vh - 7rem);
}

.box {
	border-radius: 5px;
	background-color: var(--main-color);
	padding: 0.5rem;
}
