.petSelectorContainer {
	height: max-content;
	width: 100%;
	overflow: auto;
	display: flex;
	padding: 1rem 0 0rem 1rem;
	position: absolute;
	bottom: 0;
}

.petSelectorContainer::-webkit-scrollbar {
	display: none;
}

.petBubble {
	width: 3rem;
	margin-right: 1.5rem;
}

.petImg {
	width: 3rem;
	height: 3rem;
	object-fit: cover;
	border-radius: 50%;
	border: 2px gainsboro solid;
	padding: 0.2rem;
}

.petName {
	font-size: 0.9rem;
	margin: 0;
	text-align: center;
	padding: 0.3rem 0;
}

.active {
	border: 2px var(--main-color) solid;
	padding: 0.3rem;
	background-color: gainsboro;
}

@media screen and (min-height: 700px) {
	.petImg {
		width: 4rem;
		height: 4rem;
	}

	.petBubble {
		width: 4rem;
	}
}

@media screen and (min-width: 720px) {
	.petSelectorContainer {
		width: max-content;
		position: relative;
		padding: 0;
		max-width: 704px;
		margin: 2rem auto 0 auto;
		flex-flow: row nowrap;
		justify-content: center;
	}

	.petBubble {
		margin: 0 1rem;
		cursor: pointer;
	}
}
